image_to_telegram.json
{
  "name": "Image_to_telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        -80
      ],
      "id": "c972c0ec-ca89-419c-8a5f-a555e82ca3d1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const prompts = [\n  \"futuristic cyberpunk city at night, neon lights, rain, 4k\",\n  \"enchanted forest with glowing mushrooms, fantasy art, ethereal\",\n  \"deep ocean bioluminescent creatures, dark water, cinematic\",\n  \"astronaut floating above colorful nebula, space art, detailed\"\n];\n\nreturn prompts.map(prompt => ({ json: { prompt } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "654f3271-706a-42d1-996b-9dbffe644ff9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.prompt }}?width=1024&height=1024&nologo=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -16
      ],
      "id": "e9569038-8daf-4653-ba20-f2fe4e51b455",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003996379041",
        "binaryData": true,
        "additionalFields": {
          "caption": "=🎨 AI Art of the Day  {{ $json.prompt }}  #AIArt #GenerativeArt #DailyArt"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -48
      ],
      "id": "d8e0e88a-100c-4965-b5bf-739eaa9b4be0",
      "name": "Send a photo message",
      "webhookId": "283f63f6-e28c-43a8-83aa-ab7893ac933d",
      "credentials": {
        "telegramApi": {
          "id": "wFbxHRIHOgVtu7eh",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c6dd2396-5196-4ca6-bccd-03bef924123b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37ae5c56748045bbdf23dd768bdd3e2a90fe61e9afa0a695b907531907817f9c"
  },
  "id": "CjNtWCrVhZLadLGN",
  "tags": []
}